.Search-container{
  padding: 5vh 5vw;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.filter-left{
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.ProductType-button, .Rating-button, .Price-button{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  cursor: pointer;
  align-items: center;
}

.collapse{
  display:none;
}

.collapse-show{
  display:fixed;
}

.list{
  font-size: 1.1rem;
  list-style-type: none;
  list-style-position: outside;
  line-height: 1.6rem;
  
  padding-left: 0.5rem;
  margin-bottom: 0;
}

.item{
  color: rgb(66, 63, 63);
}

.Search-arrow{
  color: rgba(39, 39, 39, 0.7);
  font-size: 0.9rem;
  text-align: justify;
  padding-left: 6.5vw;
}

.Search-content{
  padding-left: 3rem;
}

.Search-result{
  font-size: 1.5rem;
}

/*Sorting*/
.filter-right{
display: flex;
justify-content: space-between;
}


.SortingBy-Button {
    color: rgb(0,0,0);
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    position: relative;
  }
  
  .SortingBy {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 8vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 1vh ;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
       background-color: #f1f1f1;
    }
  
  .SortingBy:hover .dropdown-content {
    display: block;
  }
  .sortingby-arrow{
      margin-left:1rem;
  }
  

  

.Search-content-items{
  margin: 5vh 2vw;
  display:grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 3vh;
  grid-row-gap: 2vh;
}


.Items{
  width: 270px;
}

.wrapper{
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}

.RangeSlider-text{
  text-align: center;
  margin-top: 5px;
  font-size: 1rem;
}

.price-input{
  display: flex;
  margin: 30px 0 35px;
}

.price-input .field{
  display: flex;
  height: 40px;
  align-items: center;
}

.field input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 10px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator{
  width: 50px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}

.slider{
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress{
  height: 100%;
  left: 5%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: #17A2B8;
}
.range-input{
  position: relative;
}
.range-input input{
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}



@media (max-width: 1450px) {
  .Search-content-items{
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 1200px) {
  .Search-content-items {
    grid-template-columns: auto auto;
  }
  .Items{
    width: 300px;
  }
  
}

@media (max-width: 1200px) {
  .Search-content-items {
    grid-template-columns: auto auto;
  }
}

