.Items {
    width: 300px;
    height: 400px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 300px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25) ;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
    z-index: -1;
}

.Items-image {
    width: auto;
    height: auto;
    max-height: 300px;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    object-fit: cover;
    flex-shrink: 1;
    border-color: transparent;
    user-select: none;
    -webkit-user-drag: none; 
}

.Items-text {
    display: flex;
    padding: 5px 10px 10px 10px;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
}

.Items-description {
    color: rgba(0, 0, 0, 1);
    width: 280px;
    margin: 0 0 10px 0;
    font-size: 24px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
}

.Items-dollor {
    color: rgba(215, 76, 76, 1);
    width: 280px;
    margin: 0 0 10px 0;
    font-size: 18px;
    align-self: stretch;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
}
  
.Items-rankwithnumbers {
    display: flex;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
}

.stars-outer {
    position: relative;
    display: inline-block;
    margin-right:5px;
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
  .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
  }
  
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
  }

  .stars-number{
    font-weight:bold;
  }
  


.Items-number {
    color: rgba(151, 151, 151, 1);
    width: 30px;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
}